@import "../../styles/variables";

.how-it-works-section {
  padding: 20px;
  background-color: $lightEcoBackground;

  .steps {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .step {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;

    svg {
      color: $primary;
    }

    h3 {
      margin: 0;
      color: $darkText;
      min-width: 200px;
    }

    p {
      margin: 0;
      color: $text;
    }

    @media (max-width: 768px) {
      flex-direction: column;

      &:last-child {
        margin-bottom: 40px;
      }
    }
  }
}
