@import "../../styles/variables";

.logo {
  padding: 0;
  margin: 0;
  &:hover {
    filter: drop-shadow(0 0 2em rgba($primary, 0.67));
  }
  img {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }
}
